{% extends 'base.html.twig' %}

{% block body %}
<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Days spent</h2>
        </div>
        <span  class="mdl-card__supporting-text">{{ animeStats.time_days }}</span>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Average score</h2>
        </div>
        <span  class="mdl-card__supporting-text">{{ animeStats.mean_score }}</span>
    </div>

    {% for stat in ['watching', 'completed', 'dropped', 'rewatched'] if animeStats[stat] > 0 %}
        <div class="anime-{{ stat }} mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ stat|capitalize }}</h2>
            </div>
            <span  class="mdl-card__supporting-text">{{ animeStats[stat] }}</span>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">visibility</i>
                </button>
            </div>
        </div>
    {% endfor %}

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--9-col mdl-cell--9-col-desktop">
        <thead>
        <tr>
            <th>ID</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Score</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th>Watched episodes</th>
            <th>Total episodes</th>
        </tr>
        </thead>
        <tbody>
        {% for anime in animeList.anime %}
            <tr>
                <td>{{ anime.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ anime.title }}</td>
                <td>{{ anime.score }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ anime.type }}</td>
                <td>{{ anime.watched_episodes }}</td>
                <td>{{ anime.episodes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/charts/loader.js') }}"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        var TabDivs=document.getElementsByTagName('DIV');
        for(i=0;i<TabDivs.length;i++){
            if (TabDivs[i].className=="pie-chart"){
                var rawData = JSON.parse(TabDivs[i].dataset.stats);
                var data = google.visualization.arrayToDataTable(rawData);
                var options = {
                    title: rawData[1][0],
                    reverseCategories: true,
                    legend: {position: 'none'},
                    pieHole: 0.7,
                    pieSliceText: 'none',
                    colors: ['#b3d4fc', '#00bbd6']
                };
                var chart = new google.visualization.PieChart(TabDivs[i]);
                chart.draw(data, options);
            }
        }
    }
</script>
{% endblock %}
